.about {
    color: var(--color-primary);
    &__heading {
        font-size: 3.5rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__sub-heading {
        font-size: 2.6rem;
        text-transform: uppercase;
    }

    &__list {
        color: var(--color-ocean-blue-dark);
        &-item {
            margin-top: 3rem;
            font-size: 2rem;
        }
        &-sub-heading {
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 700;

            &--big {
                font-size: 2.6rem;
            }
        }
        &-text-2 {
            margin-top: 1rem;
            font-size: 1.6rem;
        }
        &-text {
            font-size: 1.6rem;
        }
        &-text:not(:first-child) {
            margin-top: 3rem;
        }
    }
}
