.register {
    @include breakb4(small) {
        margin-bottom: 5rem !important;
    }
    &__background {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        // background-color: #191925;
        z-index: 1;

        &-shape {
            position: absolute;
            top: -5%;
            left: 0;
            z-index: 0;
        }
    }
    &__container {
        @include breakb4(small) {
            margin: 5rem auto !important;
        }
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 40%;
        background-color: var(--color-ocean-blue-dark);
        border-radius: 10px;
        margin-bottom: 10rem;
    }
    &__heading {
        @include breakb4(small) {
            font-size: 3.5rem;
        }
        @include breakb4(xsmall) {
            font-size: 3rem;
        }
        color: var(--color-red);
        margin-top: 5rem;
    }
    &__heading-sm {
        font-size: 4rem;
    }
    &__form {
        @include breakb4(small) {
            width: 80%;
        }
        @include breakb4(xsmall) {
            width: 100%;
        }
        margin-top: 3rem;
        width: 70%;

        &-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--color-red);
        }
        &-label {
            align-self: flex-start;
            font-size: 1.3rem;
        }
        &-input {
            background-color: transparent;
            border: 1px solid var(--color-red);
            text-align: center;
            color: var(--color-red);
            font-size: 1.7rem;
            margin: 1rem 0;
            // height: 3.5rem;
            padding: 1rem 0;
            width: 100%;
            border-radius: 10px;
            transition: all 0.2s;

            &:focus {
                outline: none;
            }
            &:focus:invalid {
                border-color: var(--color-red);
                color: var(--color-red);
            }
        }
        &-btn-container {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__register-container {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }
    &__register-anchor {
        &,
        &:visited {
            color: var(--color-red);
            text-decoration: none;
            font-size: 1.3rem;
        }
    }
}
