.card-anchor-wrapper {
    &,
    &:visited {
        text-decoration: none;
        color: var(--color-primary);
        overflow: hidden;
    }
}

.card {
    width: 100%;
    height: 20rem;
    background-color: var(--color-grey-light);
    background-image: url("/storage/img/card_front_shape.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    @include hover_animation(-0.2rem);

    &__left-content {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    &__titles {
        @include breakb4(medium) {
            font-size: 1.5rem;
        }
        text-transform: uppercase;
        align-self: flex-start;
        font-size: 2rem;
    }
    &__title {
        color: var(--color-ocean-blue-dark);
        position: relative;
        z-index: 3;
        margin-top: 2rem;

        &::after {
            @include breakb4(small) {
                width: 140%;
            }
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            left: -2rem;
            height: 100%;
            width: 130%;
            background-color: var(--color-ocean-blue-light-2);
        }
    }
    &__title-2 {
        color: var(--color-ocean-blue-dark);
        position: relative;
        z-index: 3;

        &::after {
            @include breakb4(small) {
                width: 120%;
            }
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            left: -2rem;
            height: 100%;
            width: 100%;
            background-color: var(--color-ocean-blue-light-2);
        }
    }
    &__desc {
        @include breakb4(medium) {
            font-size: 1.5rem;
            margin-top: 3rem;
        }
        @include breakb4(large) {
            font-size: 2rem;
        }
        margin-top: 2rem;
        font-size: 2rem;
    }
    &__img {
        @include breakb4(medium) {
            width: 160%;
        }
        align-self: center;
        align-content: center;
        width: 120%;
        margin-top: 3rem;
        z-index: 10;
    }

    &--back {
        background-color: var(--color-ocean-blue-dark);
    }
}
