.header {
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    .container {
        position: relative;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 0.1rem;
        width: 70%;
        background-color: var(--color-grey-light);
        opacity: 0.7;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo-link {
            padding: 2rem 0;
            
            text-decoration: none;
            color: var(--color-white);
            &--dark {
                color: var(--color-ocean-dark);
            }
        }

        &__logo {
            margin-left: 1rem;
            font-size: 3rem;

            font-weight: 700;

            span {
                font-weight: 400;
            }
        }
        &__list {
            @include breakb4(small) {
                display: none;
            }
            display: flex;
            font-size: 2rem;
            list-style: none;

            &-item {
                &:not(:last-child) {
                    margin-right: 4rem;
                }
                &:hover {
                    cursor: pointer;
                }
            }

            &-link {
                text-decoration: none;
                color: var(--color-grey-light);
                text-transform: uppercase;
                &--dark {
                    color: var(--color-ocean-dark);
                }
            }
            &-cart-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            &-cart-icon {
                align-self: center;
                position: relative;
                &:hover {
                    cursor: pointer;
                }

                // Item counter
                &-status {
                    position: absolute;
                    color: var(--color-primary);
                    font-size: 1.2rem;
                    top: -0.2rem;
                    z-index: 10;
                    font-weight: 700;
                }
            }
        }
    }

    .btn-burger {
        @include breakb4(small) {
            display: inline-block;
        }
        display: none;
        width: 3.5rem;
        height: 0.4rem;
        background-color: var(--color-white);
        position: relative;
        margin-right: 2rem;

        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            right: 0;
            width: 120%;
            height: 100%;
            background-color: inherit;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -1rem;
            right: 0;
            width: 120%;
            height: 100%;
            background-color: inherit;
        }
    }

    .navbar-mobile {
        &--hidden {
            display: flex;
        }
        // @include breakb4(small) {
        //     display: flex;
        // }
        display: none;
        justify-content: center;
        align-items: center;
        background-color: var(--color-ocean-blue-light-2);
        color: var(--color-ocean-blue-dark);
        position: absolute;
        z-index: 101;
        top: 100%;
        // bottom: 0;
        right: 5%;
        height: 40vh;
        width: 90vw;
        clip-path: inset(0 0 0 0 round 20% 0 20% 20%);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &__list {
            list-style: none;

            &-item {
                font-size: 3rem;
            }
            &-link {
                &,
                &:visited {
                    color: var(--color-grey-light);
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}
